dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
.stack-work-profile/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
client_session_key.aes
.cache/
files/
.DS_Store
.hoogle.log
node_modules/
